// app global css in SCSS form
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.bg-gradient {
  background: linear-gradient(151.17deg, #26c2b9 8.69%, #288be7 126.06%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-burn;
}

.text-menu-bold {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.text-menu {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.text-color-1 {
  color: #343741;
}

.text-color-4 {
  color: #344054;
}

.text-color-f {
  color: #5e626f;
}

.text-color-2f {
  color: #24252f;
}

.text-color-ff {
  color: #4a77ff;
}

.text-color-8 {
  color: #40e2e8;
}

footer {
  background-color: #fbfbfb;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media only screen and (max-width: 600px) {
  footer {
    padding: 64px 16px;
  }
}

.grid {
  display: grid;
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

.col-span-12 {
  grid-column: span 12 / span 12;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-6 {
  grid-column: span 6 / span 6;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
